
.container{
    width: 100%;
    height: 100px;
    background-color: rgb(31, 31, 33);
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.box{
    height: 50%;
    width: 100px;
    /* background-color: rgb(195, 195, 212); */
text-align: center;
display: flex;
justify-content: center;
align-items: center;
font-size:x-large;
}
.sidebar{
    margin-top: 4px;
    background-color: rgb(31, 31, 33);
    height:1000px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    border: 2px solid black;
    color: antiquewhite;
    font-size: larger;
}
.course {
    font-size: x-large;

}
.company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    align-items: center;

}
.company ul li a{
    text-decoration: none;
    color: antiquewhite;
}
